form.inline.help {
  padding-right: 0;
}


/* Checkbox */
input[type="checkbox"] {
  width: var(--form-checkbox-width);
  height: var(--form-checkbox-height);
  min-height: 0;
  accent-color: var(--form-accent-color-color, initial);
}