{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
  {% include 'header.html' %}
  <main id="main-content" tabindex="-1" class="katalogus">
    <section>
      <div>
        <div class="fifty-fifty">
          <div>
            <h1>{% translate 'KAT-alogus' %}</h1>
            <p class="emphasized">
              {% blocktranslate %}
                An overview of all available boefjes.
                Boefjes can be used to scan for vulnerablilities and security issues within specified objects.
                Each boefje has his own focus area and strengths.
              {% endblocktranslate %}
            </p>
          </div>
          {% if perms.tools.can_scan_organization %}
            <div class="horizontal-view toolbar">
              <a class="button ghost"
                 href="{% url 'katalogus_settings' organization.code %}">{% translate 'Settings' %}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </section>
    {% include 'partials/katalogus_filter.html' with total_plugins=object_list|length form=form %}
    {% if view == 'table' %}
      {% include 'katalogus-table-view.html' %}
    {% else %}
      <section>
        <div>
          {% include 'partials/katalogus_toolbar.html' %}
          <div class="column-4 tiles plugins images-cover">
            {% for plugin in object_list %}
              {% include "partials/plugin_tile.html" %}
            {% endfor %}
          </div>
        </div>
      </section>
      {% if bulk_action %}
        {% include 'partials/bulk_action_form.html' %}
      {% endif %}
    {% endif %}
  </main>
{% endblock %}

{% block html_at_end_body %}
  {{ block.super }}
  <script src="{% static '/js/checkboxToggler.js' %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock %}
