{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
  {% include 'header.html' %}
  <main id="main-content">
    <section>
      <div>
        <div class="column-2">
          <h1>{% translate 'Organization' %} {{ organization.name }}</h1>
        </div>
        <div class="horizontal-view toolbar">
          <a class="button"
             href="{% url 'organization_member_add' organization.code %}">{% translate 'Add new member' %}</a>
        </div>
        <table>
          <thead>
            <tr>
              <th>{% translate 'Member' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for member in members %}
              <tr>
                <td>{{ member }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
  </main>
{% endblock %}

{% block html_at_end_body %}
  {{ block.super }}
  <script src="{% static '/js/checkboxToggler.js' %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock %}
